<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.materialtabs" >
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.Camera"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">


        <activity
            android:name="com.edgar.myfirsthomework.Activities.MainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.edgar.myfirsthomework.Activities.ListActivity"/>

        <receiver android:name="com.edgar.myfirsthomework.AlarmManagerBroadcastReceiver"/>

        <service android:name="com.edgar.myfirsthomework.Services.RingtonePlayService"/>



        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9fef110f6cc5fac172c0732b61cec4d598c67ff9" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
